.copyright
  Code at Github: <a class=lightlink href='https://github.com/ISS-SOA/prognition'>ISS-SOA/prognition</a>
  %br
  Based on: <a class=lightlink href='https://github.com/ISS-SOA/codecadet'>codecadet</a>
