%form{:action => '/result', :method => 'post'}
  %dl
    %dt
    %label{:for => 'home-form-username'} Username
    %dd
      %input{:type => 'text', :name => 'username', :id => 'home-form-username', :placeholder => 'Username here...'}
      %input{:type => 'submit', :name => 'submit', :id => 'home-form-submit', :value => 'submit'}
