!!! 5
%html{:lang => 'en'}
  %head
    %title Prognition
    %meta{:charset => 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %link{rel:'stylesheet', href:'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'}
    %script{src:'https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'}
    %script{src:'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'}

  %body
    %div{class:'container'}
      %div{class:'jumbotron'}
        %h1 Prognition
        %p Monitor your progress on Codecademy
      = haml :nav

      %div
        = styled_flash
        = yield
        = haml :footer
