!!! 5
%html
  %head
    %title Prognition
    %link{href: '/style.css', media: 'screen, projection', rel: 'stylesheet'}
  %body
    %header
      = haml :nav
    %section
      = styled_flash
      = yield
    .footer
      = haml :footer
