!!! 5
%html{:lang => 'en'}
  %head
    %title Prognition

    -# CSS, JS, and settings For Bootstrap:
    -# note: switched from Google CDN to jquery CDN
    %meta{:charset => 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %link{rel:'stylesheet', href:'//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'}
    %script{src:'//code.jquery.com/jquery-1.11.2.min.js'}
    %script{src:'//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'}

    -# Custom CSS:
    %link{rel:'stylesheet', href:'/custom.css'}

  %body
    %div{class:'container', id:'html_body'}
      %div{id:'header', class:'jumbotron'}
        %h1 Prognition
        %p Monitor your progress on Codecademy
      %div{id: 'navbar'}
        = haml :nav
        = haml :flash_bar
        %p{style: 'margin-bottom: 1cm'}
      %div{id:'content'}
        = yield
      %div{id:'footer'}
        = haml :footer
