#header_wrapper
  %nav{:id => 'menu'}
    %ul
      - if current_page?
        %li{:class => "current_page_item"}
          %a{:href => '/', :id => 'home'} Home
      - else
        %li
          %a{:href => '/', :id => 'home'} Home
      - if current_page?('user')
        %li{:class => 'current_page_item'}
          %a{:href => '/user', :id => 'user'} User
      - else
        %li
          %a{:href => '/user', :id => 'user'} User
      - if current_page?('group')
        %li{:class => 'current_page_item'}
          %a{:href => '/group', :id => 'group'} Group
      - else
        %li
          %a{:href => '/group', :id => 'group'} Group
