%ul{class:'nav nav-tabs'}
  - tabs = {cadets:'Search for a Cadet', tutorials:'Check a Group'}
  - tabs.each do |resource, title|
    - tab_class = current_page?("#{resource}") ? 'active' : ''
    %li{class: "#{tab_class}"}
      %a{href: "/#{resource}"} #{title}
