/*HTML tag*/

html, body
{
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 400;
	color: #000000;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

p, ol, ul {
	margin-top: 0;
}

ol, ul {
	padding: 0;
	list-style: none;
}

p {
	line-height: 180%;
}

a
{
	color: #0000FF;
}

a:hover
{
	text-decoration: none;
}


.container
{
	margin: 0px auto;
	width: 1200px;
}

/*Header*/

#header_wrapper {
	overflow: hidden;
	padding: 5em 0em;
	background: #8DCB89 url(header.jpg) no-repeat center;
	background-size: cover;
}

/*Menu*/
#menu
{
}

#menu ul
{
	text-align: center;
}

#menu li
{
	display: inline-block;
}

#menu li a, #menu li span
{
	display: inline-block;
	margin-left: 0.50em;
	padding: 1em 1.5em;
	letter-spacing: 0.20em;
	text-decoration: none;
	font-size: 0.90em;
	font-weight: 600;
	text-transform: uppercase;
	outline: 0;
	color: #FFF;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
}

#menu .current_page_item a
{
	background: #ff6816;
	border-radius: 8px;
	color: #FFF;
}
