/*HTML tag*/

html, body
{
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 400;
	color: #000000;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

p, ol, ul {
	margin-top: 0;
}

ol, ul {
	padding: 0;
	list-style: none;
}

p {
	line-height: 180%;
}

a
{
	color: #0000FF;
}

a:hover
{
	text-decoration: none;
}


.content {
	text-align: center;
	background: #EDEDED;
}
/*Header*/

#header_wrapper {
	overflow: hidden;
	padding: 5em 0em;
	background: #8DCB89 url(header.jpg) no-repeat center;
	background-size: cover;
}

/*Menu*/
#menu ul
{
	text-align: center;
}

#menu li
{
	display: inline-block;
}

#menu li a, #menu li span
{
	display: inline-block;
	margin-left: 0.50em;
	padding: 1em 1.5em;
	letter-spacing: 0.20em;
	text-decoration: none;
	font-size: 0.90em;
	font-weight: 600;
	text-transform: uppercase;
	outline: 0;
	color: #FFF;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
}

#menu .current_page_item a
{
	background: #ff6816;
	border-radius: 8px;
	color: #FFF;
}

/*Title*/

.title
{
	margin-bottom: 3em;
}

.title h2
{
	font-size: 2.8em;
}

.title .byline
{
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.1em;
	color: #6F6F6F;
}

	.container
	{
		margin: 0px auto;
		width: 1200px;
		overflow: hidden;
		padding: 8em 0em;
		color: rgba(0,0,0,0.5);
	}


/*********************************************************************************/
/* Form Style                                                                    */
/*********************************************************************************/

			form label
			{
				display: block;
				text-align: center;
				margin-bottom: 0.5em;
			}

			form .submit
			{
				margin-top: 2em;
				background: #8DCB89;
				border-radius: 8px;
				line-height: 1.5em;
				font-size: 1.3em;
			}

			form input.text,
			form select,
			form textarea
			{
				position: relative;
				-webkit-appearance: none;
				display: block;
				border: 0;
				background: #fff;
				background: rgba(255,255,255,0.75);
				width: 90%;
				border-radius: 0.50em;
				margin: 1em 0em;
				padding: 1em 1em;
				box-shadow: inset 0 0.1em 0.1em 0 rgba(0,0,0,0.05);
				border: solid 1px rgba(0,0,0,0.15);
				-moz-transition: all 0.35s ease-in-out;
				-webkit-transition: all 0.35s ease-in-out;
				-o-transition: all 0.35s ease-in-out;
				-ms-transition: all 0.35s ease-in-out;
				transition: all 0.35s ease-in-out;
				font-family: 'Source Sans Pro', sans-serif;
				font-size: 1em;
				outline: none;
			}

				form input.text:hover,
				form select:hover,
				form textarea:hover
				{
				}

				form input.text:focus,
				form select:focus,
				form textarea:focus
				{
					box-shadow: 0 0 2px 1px #E0E0E0;
					background: #fff;
				}

				form textarea
				{
					min-height: 10em;
				}

				form .formerize-placeholder
				{
					color: #555 !important;
				}

				form ::-webkit-input-placeholder
				{
					color: #555 !important;
				}

				form :-moz-placeholder
				{
					color: #555 !important;
				}

				form ::-moz-placeholder
				{
					color: #555 !important;
				}

				form :-ms-input-placeholder
				{
					color: #555 !important;
				}

				form ::-moz-focus-inner
				{
					border: 0;
				}

.footer {
	overflow: hidden;
	padding: 5em 0em;
	background: url(header.jpg) center;
	border-top: 1px solid rgba(255,255,255,0.08);
	text-align: center;
}
